html {
  overflow-y: scroll;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #011528;
  padding: 30px 30px 0 30px;
}

header h1 {
  font-family: 'Game of Thrones';
  margin: 0;
  color: #b5aa4d;
  text-align: center;
  word-spacing: 14px;
  line-height: 50px;
  letter-spacing: 5px;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  flex: 1;
}

nav ul li a {
  display: block;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  transition: all 250ms ease-in-out;
}

nav ul li a:hover {
  color: white;
}

nav ul li a.active {
  color: #ffffff;
}

nav ul li a .icon {
  margin-bottom: 6px;
}

nav ul li a .icon:before {
  font-size: 50px;
}

nav ul li:first-child a .icon:before {
  margin-left: 10px;
}

main {
  background-color: #f0f2f5;
  padding: 0 50px;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div.breadcrumbs {
  margin: 16px 0px;
  font-size: 14px;
}

div.breadcrumbs > span.breadcrumb-link {
  color: rgba(0, 0, 0, 0.45);
}

div.breadcrumbs > span.breadcrumb-separator {
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.45);
}

div.breadcrumbs > span:last-child {
  color: rgba(0, 0, 0, 0.65)
}

div.content {
  background-color: #ffffff;
  color: #1e1e1e;
  padding: 24px;
  flex-grow: 1;
  display: flex;
}

div.content > section:first-child > *:first-child {
  margin-top: 0;
}

div.content h2 {
  font-family: 'Game of Thrones';
  font-size: 17px;
  line-height: 27px;
}

div.content h2 span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: block;
  font-style: italic;
}

div.content p {
  font-size: 15px;
  line-height: 1.4;
}

footer {
  background: #f0f2f5;
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  text-align: center;
}
