body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Game of Thrones';
  src: url('./fonts/got/GameofThrones.eot');
  src: url('./fonts/got/GameofThrones.eot?#iefix') format('embedded-opentype'),
      url('./fonts/got/GameofThrones.woff2') format('woff2'),
      url('./fonts/got/GameofThrones.woff') format('woff'),
      url('./fonts/got/GameofThrones.ttf') format('truetype'),
      url('./fonts/got/GameofThrones.svg#GameofThrones') format('svg');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #011528;
  padding: 30px 30px 0 30px;
}

header h1 {
  font-family: 'Game of Thrones';
  margin: 0;
  color: #b5aa4d;
  text-align: center;
  word-spacing: 14px;
  line-height: 50px;
  letter-spacing: 5px;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  color: rgba(255, 255, 255, 0.65);
  transition: all 250ms ease-in-out;
  list-style-type: none;
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 30px;
}

nav ul li:hover {
  color: white;
}

nav ul li.active {
  background-color: #309edd;
}

main {
  background-color: #f0f2f5;
  padding: 0 50px;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

div.breadcrumbs {
  margin: 16px 0px;
  font-size: 14px;
}

div.breadcrumbs > span.breadcrumb-link {
  color: rgba(0, 0, 0, 0.45);
}

div.breadcrumbs > span.breadcrumb-separator {
  margin: 0 8px;
  color: rgba(0, 0, 0, 0.45);
}

div.breadcrumbs > span:last-child {
  color: rgba(0, 0, 0, 0.65)
}

div.content {
  background: #ffffff;
  padding: 24px;
  flex-grow: 1;
}

footer {
  background: #f0f2f5;
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  text-align: center;
}
